@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


a {
    text-decoration: none;
  }

.container-header{
    height: 84px;
    background: #ffffff;
}

.header {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    align-items: center;
      
}

.header-logo{
    color: #232134;
    padding: 24px 280px 24px 204px;
    display: inline-block;
    position: relative;
}

.logo-all{
    
}

.logo-oval {
    width: 39.36px;
    height: 15.47px;
    background: #5E96FC;
    transform: rotate(-45deg);
    position: absolute;
    left: -4.42px;
    top: 26.37px;
    border-radius: 50%;
  }
  
  .logo-oval::after {
    content: "";
    width: 39.36px;
    height: 15.47px;
    background: #5E96FC;
    transform: rotate(90deg);
    position: absolute;
    right: -0.42px;
    top: 0.37px;
    border-radius: 50%;
  }

.logo-text{
    display: block;
    width: 99px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.header-nav{
    display: flex;
}

.header-link{
    margin-left: 60px;
    width: 129px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 20px;
    color: #232134;
    
}
.active{
    margin-left: 60px;
    width: 129px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 20px;
    color: #5E96FC;
}